body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.main-home{
  background-position: top center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
    background-image: url('/img/clip2.png');
}
.main-home .logo{
  color: #FFFFFF;
  font-weight: 300;
  position: relative;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  margin-top: 150px;
  z-index: 3;
}
.main-home .logo.cursive{
  font-family: 'Grand Hotel',cursive;
  font-size: 82px;
  
}
.main-home .content{
  position: relative;
  z-index: 4;
}
.motto{
  font-size: 28px;
  color: #FFFFFF;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
  text-align: center;
  margin-top: 50px;
  
}

.cover{
  position: fixed;
  opacity: 1;
  background-color: rgba(0,0,0,.6);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cover.black{
  background-color: rgba(0,0,0,.6);
}
.cover.blue{
  background-color: rgba(5, 31, 60, 0.6);
}
.cover.green{
  background-color: rgba(3, 28, 7, 0.6);
}
.cover.orange{
  background-color: rgba(37, 28, 5, 0.6);
}
.cover.red{
  background-color: rgba(35, 3, 2, 0.66);
}
.logo-container{
  left: 50px;
  position: absolute;
  top: 20px;
   z-index: 3;
}
.logo-container .logo{
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333333;
  width: 60px; 
  float: left;
}

.shadowCard{
  box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
 
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  text-align: left;
  font-size: 12px;
  /* background-color: white; */
  
  box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;

  
}

.force-overflow {
  padding: 0px;
  /* min-height: 600px; */
min-height: auto;
}

.scrollbar{

  background-color: #F5F5F5;
  float: left;
  
  margin-top: 0px;
  overflow-y: scroll;


  }
